const {{resourceName}} = (() => {
    let mongoose = require('mongoose')

    let schema = new mongoose.Schema({
        name: String,
        createdBy: { type: mongoose.Schema.Types.ObjectId, ref: 'User'},
        updatedAt: { type: Date, default: Date.now },
    })

    return mongoose.model('{{resourceName}}', schema)
})()

module.exports = {{resourceName}}
