const request  = require('supertest')
const app      = require('../../server').app
const auth     = require('../../auth/auth.lib')
const chai     = require('chai')

const should   = chai.should()
chai.use(require('chai-shallow-deep-equal'))

const {{resourceName}} = require('./{{resourceNameSlug}}.model')

describe('/{{resourceNameSlugPlural}}', () => {
    let {{resourceNameCamel}}Data = {
        name: 'Test Name'
    }

    let cleanUp = () =>
        Promise.all([
            {{resourceName}}.remove({}),
            auth.remove(),
        ])

    beforeEach(cleanUp)
    after(cleanUp)

    describe('/', () => {
        describe('GET', () => {
            var created{{resourceName}}

            beforeEach(() =>
                {{resourceName}}.create({{resourceNameCamel}}Data).then(created =>
                    created{{resourceName}} = created
                )
            )

            it('should return an array of {{resourceName}}', () =>
                auth.getUserToken().then(token =>
                    request(app)
                        .get('/{{resourceNameSlugPlural}}')
                        .set('x-access-token', token)
                        .expect(200)
                        .expect(res => {
                            res.body.length.should.equal(1)
                            res.body[0].should.shallowDeepEqual({{resourceNameCamel}}Data)
                            res.body[0]._id.should.equal(created{{resourceName}}._id.toString())
                        })
                )
            )

            it('should return an error if not authenticated', () =>
                request(app)
                    .get('/{{resourceNameSlugPlural}}')
                    .set('x-access-token', 'abc')
                    .expect(401)
            )
        })

        describe('POST', () => {
            it('should save a new {{resourceName}}', () =>
                auth.getTokenAndUser(auth.userData).then(data =>
                    request(app)
                        .post('/{{resourceNameSlugPlural}}')
                        .set('x-access-token', data.token)
                        .send({{resourceNameCamel}}Data)
                        .expect(200)
                        .then(res => {
                            res.body.should.shallowDeepEqual({{resourceNameCamel}}Data)

                            return {{resourceName}}.findOne({ _id: res.body._id }).then(found => {
                                found.should.shallowDeepEqual({{resourceNameCamel}}Data)
                                var createdByUser = found.createdBy.equals(data.user._id)
                                createdByUser.should.be.true
                            })
                        })
                )
            )

            it('should return an error if not authenticated', () =>
                request(app)
                    .post('/{{resourceNameSlugPlural}}')
                    .set('x-access-token', 'abc')
                    .expect(401)
            )
        })
    })

    describe('/:id', () => {
        let created{{resourceName}}
        let owner
        let token

        beforeEach(() =>
            auth.getTokenAndUser(auth.userData).then(data => {
                owner = data.user
                token = data.token

                let withOwner = Object.assign({ createdBy: data.user._id }, {{resourceNameCamel}}Data)
                return {{resourceName}}.create(withOwner).then(created =>
                    created{{resourceName}} = created
                )
            })
        )

        describe('GET', () => {
            it('should return the {{resourceName}} with matching id', () =>
                request(app)
                    .get(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                    .set('x-access-token', token)
                    .expect(200)
                    .expect(res => {
                        res.body.should.shallowDeepEqual({{resourceNameCamel}}Data)
                        res.body._id.should.equal(created{{resourceName}}._id.toString())
                    })
            )

            it('should return an error if not authenticated', () =>
                request(app)
                    .get(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                    .set('x-access-token', 'abc')
                    .expect(401)
            )

            it('should return an error if {{resourceName}} with that id doesn\'t exist', () =>
                request(app)
                    .get('/{{resourceNameSlugPlural}}/1111a1aa11a11a111a111a11')
                    .set('x-access-token', token)
                    .expect(404)
            )

            it('should return an error if the id isn\'t an ObjectId', () =>
                request(app)
                    .get('/{{resourceNameSlugPlural}}/123-not-an-object-id')
                    .set('x-access-token', token)
                    .expect(404)
            )
        })

        describe('PUT', () => {
            let updated{{resourceName}}Data = {
                name: 'Updated Name'
            }

            it('should update a {{resourceName}} by id', () =>
                request(app)
                    .put(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                    .set('x-access-token', token)
                    .send(updated{{resourceName}}Data)
                    .expect(200)
                    .then(res => {
                        res.body.should.shallowDeepEqual(updated{{resourceName}}Data)
                        return {{resourceName}}.findOne({ _id: res.body._id }).then(found => {
                            found.should.not.shallowDeepEqual({{resourceNameCamel}}Data)
                            found.should.shallowDeepEqual(updated{{resourceName}}Data)
                        })
                    })
            )

            it('should return an error if not authenticated', () =>
                request(app)
                    .put(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                    .set('x-access-token', 'abc')
                    .expect(401)
            )

            it('should return an error if {{resourceName}} is not createdBy user', () =>
                auth.getTokenAndUser(auth.otherUserData).then((other) =>
                    request(app)
                        .put(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                        .set('x-access-token', other.token)
                        .send(updated{{resourceName}}Data)
                        .expect(403)
                )
            )

            it('should return an error if {{resourceName}} with that id doesn\'t exist', () =>
                request(app)
                    .put('/{{resourceNameSlugPlural}}/1111a1aa11a11a111a111a11')
                    .set('x-access-token', token)
                    .send(updated{{resourceName}}Data)
                    .expect(404)
            )

            it('should return an error if the id isn\'t an ObjectId', () =>
                request(app)
                    .put('/{{resourceNameSlugPlural}}/123-not-an-object-id')
                    .set('x-access-token', token)
                    .send(updated{{resourceName}}Data)
                    .expect(404)
            )
        })

        describe('DELETE', () => {
            it('should remove a {{resourceName}} by id', () =>
                request(app)
                    .delete(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                    .set('x-access-token', token)
                    .expect(200)
                    .then(res => {
                        res.body.should.shallowDeepEqual({{resourceNameCamel}}Data)
                        return {{resourceName}}.findOne({ _id: res.body._id }).then(found =>
                            should.not.exist(found)
                        )
                    })
            )

            it('should return an error if not authenticated', () =>
                request(app)
                    .delete(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                    .set('x-access-token', 'abc')
                    .expect(401)
            )

            it('should return an error if {{resourceName}} is not createdBy user', () =>
                auth.getTokenAndUser(auth.otherUserData).then((other) =>
                    request(app)
                        .delete(`/{{resourceNameSlugPlural}}/${created{{resourceName}}._id}`)
                        .set('x-access-token', other.token)
                        .expect(403)
                )
            )

            it('should return an error if {{resourceName}} with that id doesn\'t exist', () =>
                request(app)
                    .delete('/{{resourceNameSlugPlural}}/1111a1aa11a11a111a111a11')
                    .set('x-access-token', token)
                    .expect(404)
            )

            it('should return an error if the id isn\'t an ObjectId', () =>
                request(app)
                    .delete('/{{resourceNameSlugPlural}}/123-not-an-object-id')
                    .set('x-access-token', token)
                    .expect(404)
            )
        })
    })
})
